<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h2>Test IHM</h2>
    <p>Bienvenue sur cette petite interface de test</p>

    <div class="container">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <form action="/testihm" method="post" >
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Quelle lampe voulez vous?
        </button>
        <select name="nom">
          <option value="Laumio_D454DB">
            "Laumio_D454DB"
          </option>
        </select>
        <input type="submit" value="envoyer"/>


      </form>


    </div>
    <div class="container">
      <button type="button" class="btn">Blanc</button>
      <button type="button" class="btn btn-primary">Bleu</button>
      <button type="button" class="btn btn-success">vert</button>
      <button type="button" class="btn btn-info">Cyan</button>
      <button type="button" class="btn btn-warning">jaune</button>
      <button type="button" class="btn btn-danger">rouge</button>    
    </div>
    <div class="container">
      <button type="button" class="btn btn-primary">Animation</button>   
    </div>

  </body>
</html>