<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h2>Test IHM</h2>
    <hr>

    <h3>Allumer une lampe</h3>

    <form action = "/testihm2" method="post">
      <div class="container">

        <select name = "nom">
          <option value="Laumio_10805F">Laumio_10805F</option>
          <option value="Laumio_88813D">Laumio_88813D</option>
          <option value="Laumio_104F03">Laumio_104F03</option>
          <option value="Laumio_D454DB">Laumio_D454DB</option>
          <option value="Laumio_CD0522">Laumio_CD0522</option>
          <option value="Laumio_0FBFBF">Laumio_0FBFBF</option>
          <option value="Laumio_0FC168">Laumio_0FC168</option>
          <option value="Laumio_104A13">Laumio_104A13</option>
          <option value="Laumio_107DA8">Laumio_107DA8</option>
          <option value="Laumio_10508F">Laumio_10508F</option>
          <option value="Laumio_1D9486">Laumio_1D9486</option>
          <option value="Laumio_439BA9">Laumio_439BA9</option>
        </select>


      </div>
      <div class="container">
        <input type="text"  value="255" name="red">Rouge</input>
        <input type="text"  value="255" name="blue">Bleu</input>
        <input type="text"  value="255" name="green">vert</input>

      </div>
      <div class="container">
        <button type="submit" class="btn btn-primary">Run</button>
      </div>

    </form>


      <hr>
      <form action = "/test-ihm2" method="post">
        <h3>Lancer animation</h3>
        <div class="container">

          <select name = "nom">
            <option value="Laumio_10805F">Laumio_10805F</option>
            <option value="Laumio_88813D">Laumio_88813D</option>
            <option value="Laumio_104F03">Laumio_104F03</option>
            <option value="Laumio_D454DB">Laumio_D454DB</option>
            <option value="Laumio_CD0522">Laumio_CD0522</option>
            <option value="Laumio_0FBFBF">Laumio_0FBFBF</option>
            <option value="Laumio_0FC168">Laumio_0FC168</option>
            <option value="Laumio_104A13">Laumio_104A13</option>
            <option value="Laumio_107DA8">Laumio_107DA8</option>
            <option value="Laumio_10508F">Laumio_10508F</option>
            <option value="Laumio_1D9486">Laumio_1D9486</option>
            <option value="Laumio_439BA9">Laumio_439BA9</option>
          </select>


        </div>
        <div class="container">
          <button type="submit" class="btn btn-primary">Animation</button>
        </div>

      </form>


      <hr>
      <h3>Capteur distance</h3>
      <div class="container">
        <output type="text" class="btn btn-primary">Status</output>
        <output type="text" class="btn btn-primary">Value</output>
      </div>

      <hr>
      <h3>Capteur température</h3>
      <div class="container">
        <button type="button" class="btn btn-primary">Status</button>
        <button type="button" class="btn btn-primary">Value</button>
      </div>




  </body>
</html>